.card {
  padding: 80px 0;
  &__breadcrumbs {
    display: flex;
    &__prev {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #453c3c;
      transition: 0.2s;
      &:hover {
        color: #de2627;
      }
    }
    &__current {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #453c3c;
    }
    svg {
      margin: 7px 12px 0px 12px;
    }
  }
  &-block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    &_little {
      &__first {
        img {
          &:nth-child(1) {
            width: 240px;
            height: 220px;
          }
          &:nth-child(2) {
            width: 240px;
            height: 220px;
            margin-left: 30px;
          }
          &:nth-child(3) {
            width: 310px;
            height: 220px;
            margin-left: 30px;
          }
        }
      }
      &__second {
        margin-top: 25px;
        img {
          &:nth-child(1) {
            width: 310px;
            height: 220px;
          }
          &:nth-child(2) {
            width: 240px;
            height: 220px;
            margin-left: 30px;
          }
          &:nth-child(3) {
            width: 240px;
            height: 220px;
            margin-left: 30px;
          }
        }
      }
    }
  }
}
